<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Nếu bạn đã học ReactJS hay React Native, bạn sẽ thấy các Props và State được sử dụng rất nhiều. Vậy chính xác chúng là gì? Làm thế nào để chúng ta sử dụng chúng đúng mục đích đây?</p>
  <p>Khi mình mới bắt đầu tiếp xúc với ReactJS mình đã mất khá nhiều thời gian để hiểu được hai khái niệm này. Chúng trông thật giống nhau nhưng lại sử dụng khác nhau. Và bài viết này chúng ta sẽ cùng tìm hiểu Props và State chính xác là gì nhé.</p>
  <p>Props and State là hai kiểu dữ liệu được control như một component.</p>

  <h2>Props</h2>
  <p>'props' có nghĩa là gì?</p>
  <p>Props thực chất là viết tắt của Properties</p>
  <h3>Sử dụng props trong component</h3>
  <p>Cùng xem ví dụ sau đây:</p>
  <pre>
    class Welcome extends React.Component {
      &emsp;render() {
        &emsp;&emsp;return &lt;h1&gt;Hello {this.props.name}&lt;/h1&gt;;
      }
    }
    const element = &lt;Welcome name='Sara' /&gt;;
  </pre>
  Dòng <code>&lt;Welcome name="Sara" /&gt;</code>tạo ra một thuộc tính name có giá trị "Sara". Nhìn có vẻ như một cách gọi hàm. Đúng là như vậy props được chuyển đến component tương tự như cách một đối số được chuyển đến một hàm. Trọng thực tế, thậm chí chúng ta có thể viết một cách ngắn gọn hơn là:
  <pre>
    function Welcome(props) {
      &emsp;return &lt;h1&gt;Hello {props.name}</h1>;
    }
  </pre>
  <p>Một <code>component</code> cũng có thể có <code>props</code> mặc định, do đó nếu component không truyền vào props nào thì nó vẫn sẽ được thiết lập. Chúng ta có thể tạo thuộc tính <code>name</code> mặc định bằng cách thêm <code>defaultProps</code> vào class <code>Welcome</code></p>
  <pre>
    class Welcome extends React.Component {
      &emsp;render() {
        &emsp;&emsp;return &lt;h1&gt;Hello {this.props.name}&lt;/h1&gt;;
      }
    }

    Welcome.defaultProps = {
      &emsp;name: "world",
    };
  </pre>
  <p>Nếu Welcome được gọi mà không truyền vào bất kỳ thuộc tính name nào thì nó đơn giản sẽ render ra:</p>
  <pre>Hello world</pre>
  <p>Vì vậy, props có thể đến từ parent, hoặc có thể được thiết lập bởi chính component đó.</p>
  <h3>Không nên thay đổi Props</h3>
  <p>Bạn có thể thay đổi props bằng cách sử dụng setProps hay replaceProps nhưng nó <a href="https://reactjs.org/blog/2015/10/07/react-v0.14.html#new-deprecations-introduced-with-a-warning">không được khuyến khích</a>.</p>
  <p>Kể từ lúc chúng ta truyền props vào component thì chúng không được thay đổi. Điều này giúp bạn nghĩ đến sẽ sử dụng props cho bất kì component nào mà luôn hiển thị cùng 1 đầu ra cho cùng 1 đầu vào. Điều này giúp chúng ra dễ dàng kiểm soát nó.</p>
  <h2>State</h2>
  <p>Giống như <code>props</code>, <code>sate</code> cũng giữ thông tin về component. Tuy nhiên, loại thông tin và cách xử lý nó khác nhau. State hoạt động khác với Props. State là thành phần của component, trong khi các props lại được truyền giá trị từ bên ngoài vào component Có một lưu ý nhỏ là chúng ta không nên cập nhật state bằng cách sử dụng trực tiếp this.state mà luôn sử dụng setState để cập nhật state của các đối tượng. Sử dụng setState để re-renders một component và tất cả các component con. Điều này thật tuyệt, bởi vì bạn không phải lo lắng về việc viết các xử lý sự kiện (event handler) như các ngôn ngữ khác.</p>
  <h3>Khi nào thì sử dụng State</h3>
  <p>Bất cứ khi nào dữ liệu thay đổi trong một component, State có thể được sử dụng.</p>
  <p>Ví dụ như khi bạn có một form nhập input type text mỗi trường trong Form sẽ giữ lại trạng thái của nó dựa trên dữ liệu đầu vào của người dùng (user input). Nếu đầu vào của người dùng thay đổi, trạng thái của các text input sẽ thay đổi, đây là nguyên nhân cần re-rendering của component và tất cả các component con của nó. Và khi này chúng ta sẽ sử dụng state.</p>
  <h3>Sử dụng state trong component</h3>
  <p>Trước hết chúng ta hãy cùng nhìn vào đoạn code sau:</p>
  <pre>
    class Form extends React.Component {
      &emsp;constructor (props) {
        &emsp;&emsp;super(props)
        &emsp;&emsp;this.state = {
          &emsp;&emsp;&emsp;input: ''
        &emsp;&emsp;}
      &emsp;}
      &emsp;handleChange = (text) => {
        &emsp;&emsp;this.setState({ input: text })
      &emsp;}

      &emsp;render () {
        &emsp;&emsp;const { input } = this.state
        &emsp;&emsp;return (
          &emsp;&emsp;&emsp;&lt;div&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;label&gt;
              &emsp;&emsp;&emsp;&emsp;&emsp;Name:
              &emsp;&emsp;&emsp;&emsp;&emsp;&lt;input type="text" value={this.state.value} onChange={this.handleChange} /&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;/label>
            &emsp;&emsp;&emsp;&emsp;&lt;input type="submit" value="Submit" /&gt;
          &emsp;&emsp;&emsp;&lt;/div&gt;
        &emsp;&emsp;)
      &emsp;}
    }
  </pre>

  <p>Trong đoạn code trên, bạn có thể thấy một lớp Form với một state input. Nó hiển thị một text input chấp nhận đầu vào của người dùng. Mỗi khi người dùng nhập văn bản, onChange được kích hoạt, lần lượt gọi setState trên input.</p>
  <p>SetState kích hoạt re-rendering lại component, và giao diện người dùng (UI) bây giờ được cập nhật với thông tin mới nhất được nhập từ người dùng. Ví dụ đơn giản này minh họa state trong một component có thể được cập nhật như thế nào và cách sử dụng nó.</p>
  <h2>Kết luận</h2>
  <p>Hi vọng bài viết này sẽ giúp các bạn hiểu thêm về props và state. Cảm ơn các bạn đã theo dõi. Trong bài viết có tham khảo tại:</p>
  <a href="https://lucybain.com/blog/2016/react-state-vs-pros/">https://lucybain.com/blog/2016/react-state-vs-pros/</a>
  <a href="https://reactjs.org/docs/components-and-props.html">https://reactjs.org/docs/components-and-props.html</a>
  <a href="https://reactjs.org/docs/state-and-lifecycle.html">https://reactjs.org/docs/state-and-lifecycle.html</a>
</body>
</html>
