<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Fragments được giới thiệu trong phiên bản React 16.2.0. Mặc dù chúng đã xuất hiện được một thời gian tuy nhiên chúng ta vẫn chưa sử dụng chúng thường xuyên lý do là chúng ta đã nghe về nó nhưng lại không tìm hiểu về nó.</p>

  <p>Vậy chúng là gì và chúng ta có nên bắt đầu sử dụng chúng? Câu trả lời sẽ có trong bài viết này.</p>

  <h2>Vấn đề</h2>
  <p>Trước khi tìm hiểu về Fragments chúng ta hãy cùng nhau tìm hiểu vấn đề sau đây. Trong React các component cho phép trả về nhiều phần tử, thông thường các phần tử này được bọc trong một thẻ <code>div</code>. Trong nhiều trường hợp thẻ div bao bọc không liên quan gì và chỉ được thêm vào vì các component của React yêu cầu chỉ được trả về một phần tử. Điều này dẫn đến việc HTML sẽ hiển thị không hợp lệ, nó thật là không tốt đúng không 😄.</p>

  <p>Ví dụ: chúng ta có thể có 1 component Table biểu hiện bằng table và có các cột được hiển thị với một component khác là Columns. Nó có thể như thế này:</p>
  <pre>
    class Table extends React.Component {
      &emsp;render() {
        &emsp;&emsp;return (
          &emsp;&emsp;&emsp;&lt;table&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;tr&gt;
              &emsp;&emsp;&emsp;&emsp;&emsp;&lt;Columns /&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;/tr&gt;
          &emsp;&emsp;&emsp;&lt;/table&gt;
        &emsp;&emsp;);
      &emsp;}
    }
    class Columns extends React.Component {
      &emsp;render() {
        &emsp;&emsp;return (
          &emsp;&emsp;&emsp;&lt;div&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;td&gt;Hello&lt;/td&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;td&gt;World&lt;/td&gt;
          &emsp;&emsp;&emsp;&lt;/div&gt;
        &emsp;&emsp;);
      &emsp;}
    }
  </pre>

  <p>Điều này dẫn đến một đoạn HTML hiển thị không hợp lệ vì <code>div</code> bọc các cột được hiển thị bên trong <code>tr</code>.</p>
  <pre>
    &lt;table&gt;
      &emsp;&lt;tr&gt;
        &emsp;&emsp;&lt;div&gt;
          &emsp;&emsp;&emsp;&lt;td&gt;Hello&lt;/td&gt;
          &emsp;&emsp;&emsp;&lt;td&gt;World&lt;/td&gt;
        &emsp;&emsp;&lt;/div&gt;
      &emsp;&lt;/tr&gt;
    &lt;/table&gt;
  </pre>

  <h2>Giải pháp</h2>
  <p>Vậy giải pháp cho vấn đề trên là gì? Như mở đầu chúng ta có fragments. React fragments cho phép bạn nhóm các phần tử vào với nhau mà không cần phải bổ sung một thẻ nào bao bọc chúng và nó cũng sẽ không thể hiện ra HTML. Vì vậy về cơ bản chúng ta có thể sử dụng <code>React.Fragment</code> để thay thế cho những nơi chúng ta để thẻ div bao bọc các phần tử bên trong. Vẫn với ví dụ trên nhưng sử dụng fragment trong component columns:</p>
  <pre>
    class Columns extends React.Component {
      &emsp;render() {
        &emsp;&emsp;return (
          &emsp;&emsp;&emsp;&lt;React.Fragment&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;td&gt;Hello&lt;/td&gt;
            &emsp;&emsp;&emsp;&emsp;&lt;td&gt;World&lt;/td&gt;
          &emsp;&emsp;&emsp;&lt;/React.Fragment&gt;
        &emsp;&emsp;);
      &emsp;}
    }
  </pre>

  <p>Bây giờ HTML sẽ hiển thị như sau</p>

  <pre>
    &lt;table&gt;
      &emsp;&lt;tr&gt;
        &emsp;&emsp;&lt;td&gt;Hello&lt;/td&gt;
        &emsp;&emsp;&lt;td&gt;World&lt;/td&gt;
      &emsp;&lt;/tr&gt;
    &lt;/table&gt;
  </pre>

  <div class="danger">
    <p><strong>Tip!</strong> Ngoài việc sử dụng thẻ <code>React.Fragment</code> chúng ta cũng có thể sử dụng một cặp thẻ trống như <code>&lt;&gt;</code> và <code>&lt;/&gt;</code>.</p>
  </div>

  <h2>Các trường hợp sử dụng Fragments</h2>

  <h3>Trả về nhiều phần tử</h3>
  <p>Trường hợp phổ biến nhất để sử dụng các fragment là component trả về nhiều phần tử. Với các trường hợp này rất dễ dàng chúng ta thay vì sử dụng div để bọc các phần tử lại với nhau thì chúng ta hãy sử dụng <code>React.Fragment</code> để nhóm chúng lại:</p>
  <pre>
    <code>
      class Application extends React.Component {
        render() {
          return (
            &lt;React.Fragment&gt;
              &lt;Header /&gt;
              &lt;Content /&gt;
              &lt;Footer /&gt;
            &lt;/React.Fragment&gt;
          );
        }
      }
    </code>
  </pre>

  <h3>Khi có điều kiện để Render</h3>
  <p>Các fragments cũng có thể sử dụng khi các phần tử render có điều kiện. Chúng làm cho các nhóm phần tử render dễ dàng hơn mà không cần phải tách ra các phần tử ra component khác.</p>

  <pre>
    <code>
      class LoginForm extends React.Component {
        render() {
          return (
            &lt;form&gt;
              {this.props.isLoggedIn ? (
                  &lt;React.Fragment&gt;
                    &lt;h3&gt;Welcome&lt;/h3&gt;
                    &lt;p&gt;You are logged in!&lt;/p&gt;
                  &lt;/React.Fragment&gt;
              ) : (
                  &lt;React.Fragment&gt;
                    &lt;h3&gt;Login&lt;/h3&gt;
                    &lt;label for="username"&gt;Username&lt;/label&gt;&lt;br/&gt;
                    &lt;input type="text" id="username" /&gt;&lt;br/&gt;
                    &lt;label for="password"&gt;Password&lt;/label&gt;&lt;br/&gt;
                    &lt;input type="password" id="password" /&gt;&lt;br/&gt;
                    &lt;input type="submit" value="Login" /&gt;
                  &lt;/React.Fragment&gt;
              )}
            &lt;/form&gt;
          );
        }
      }
    </code>
  </pre>

  <h3>Mảng</h3>
  <p>Các fragments cũng có thể giúp chúng ta khi render mảng, bời vì các fragments có thể có các <code>key</code>. Giả sử bạn có một mảng các đối tượng người dùng và bạn muốn trả về render người dùng từ mảng đó. Bạn cần đặt key cho từng người dùng, do đó bạn sẽ cần sử dụng phần từ <code>div</code> để bọc thông tin người dùng. Nhưng các fragments có thể có các key của chính mình vì vậy bạn có thể sử dụng chúng để thay thế cho thẻ <code>div</code>:</p>

  <pre>
    <code>
      class UserList extends React.Component {
        users = [
          {
            id: 1,
            name: "Jack Bauer",
            email: "jack.bauer@ctu.gov",
            phone: "+358509283928"
          },
          {
            id: 2,
            name: "Tony Almeida",
            email: "tony.almeida@ctu.gov",
            phone: "+358508829378"
          },
          {
            id: 3,
            name: "Chloe O'brian",
            email: "chloe.obrian@ctu.gov",
            phone: "+358508899012"
          }
        ];
        render() {
          return (
            &lt;React.Fragment&gt;
              {this.users.map(user =&gt; (
                &lt;React.Fragment key={user.id}&gt;
                  &lt;h2&gt;{user.name}&lt;/h2&gt;
                  &lt;p&gt;{user.email}&lt;/p&gt;
                  &lt;p&gt;{user.phone}&lt;/p&gt;
                &lt;/React.Fragment&gt;
              ))}
            &lt;/React.Fragment&gt;
          );
        }
      }
    </code>
  </pre>

  <h2>Có nên sử dụng Fragments</h2>
  <p>Nhìn chung các Fragments có giá trị sử dụng để thay thế cho một thẻ div bao bọc các phần tử. Vậy câu hỏi đặt ra là chúng ta có nên sử dụng chúng? Đã có câu trả lời này trên <a href="https://stackoverflow.com/questions/47761894/why-are-fragments-in-react-16-better-than-container-divs" target="_blank">StackOverflow</a>:</p>

  <ul>
    <li>Nó nhanh hơn một chút và sử dụng ít bộ nhớ hơn (không cần tạo thêm DOM để đánh dấu).</li>
    <li>Một số cơ chế CSS như Flexbox và CSS Grid có mốt quan hệ cha-con đặc biệt và việc thêm div ở giữa khiến chúng ta khó giữ được bố cục mong muốn.</li>
    <li>DOM inspector đỡ lộn xộn hơn (ví dụ div nằm trong tr ở trên)</li>
  </ul>
  <p>Với những lý do đó chúng ta nên sử dụng chúng.</p>

  <h2>Kết luận:</h2>

  <p>Như vậy chúng ta đã cùng nhau đi tìm hiểu về Fragments trong react. Chúc các bạn học tập hiệu quả.</p>
</body>
</html>
